/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 16px "Amaranth", helvetica, arial, clean, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

p {
  margin: 0.5em 0;
}

a {
  color: #211D26;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  color: #005E65;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
}

  ul.posts li {
    line-height: 1.50em;
  }

  ul.posts div.titles {
    float: left;
    margin-right: 2em;
  }

  ul.posts span {
    color: #9C471D;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 50em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #211D26;
  font-weight: bold;
  font-size: 175%;
  margin-bottom: 0.75em;
}

  .site .title a {
    color: #2375BF;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .section {
    color: #3B4373;
    font-size: 125%;
    margin-bottom: 0.4em;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 90%;
    color: #3B4373;
    border-top: 2px dashed #3B4373;
    margin-top: 1em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 2em;
    }

      .site .footer .contact a {
        color: #2375BF;
      }


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */
  
  #post a {
    text-decoration: underline;
  }

  #post h1 {
    font-size: 125%;
    margin-bottom: 0em;
    color: #3B4373;
  }

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 1.25em;
}

  #related h2 {
    margin-bottom: 0.5em;
  }

/*****************************************************************************/
/*
/* Resume 
/*
/*****************************************************************************/

#resume {

}
  
  #resume h1 {
    font-size: 150%;
  }

  #resume h2 {
    margin-top: 1em;
  }

  #resume div#address {
    float: right;
    text-align: right;
  }

  #resume div#sections {
    clear:right;
  }

  #resume ul {
    margin-left: 1em;
  }

    #resume ul ul {
      margin-left: 0em;
    }
    
      #resume ul ul ul {
        margin-left: 1em;
      }

  #resume li {
    list-style-type: none;
  }
    
    #resume li.description {
      list-style: disc inside;
    }
